@model ProductViewModel

<div>
    <section>
      @foreach(var item in Model.Products)
      {
            <section class="section">
                <div class="div">
                    <div class="d">
                        <section>
                            <img src="images/coffee.jpg" alt="">
                        </section>
                        <pre>   
                        <div>
                        <h1 class="h1">Name : </h1>
                        <h1>salam</h1>
                    </div>
                        <div>
                        <h1 class="h1">Price : </h1>
                        <h1>32 AZN</h1>
                    </div>
                        <div>
                        <h1 class="h1">Discount : </h1>
                        <h1>2 AZN</h1>
                    </div>
                </pre>

                        <div class="productEdit">
                            <button id="delete">Delete</button>
                            <button id="update">Update</button>
                        </div>
                    </div>
                </div>
            </section>
      }
    </section>
</div>
